{% extends "bootstrap/base.html" %}
<!doctype html>
<html>
  <head>
    {% block title %}Pools &amp; Brackets{% endblock %}
  </head>
  {% block body %}
    {% block navbar %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pools &amp; Brackets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/player">Players</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
  {% endblock %}
</html>
