{% extends 'base.html' %}
{% block content %}
<script src="/static/js/dao.js"></script>
<script src="/static/js/edit-tournament.js"></script>
<div class="container">
<h1 data-tournament_id={{tournament.id}}>{{tournament.description}}</h1>
<form>
  <div class="player-list list-group"></div>
  <p><button type="submit" class="btn btn-primary">Add</button></p>
</form>
</div>
{% raw %}
<script id="add-player-template" type="text/x-handlebars-template">
  <a class="list-group-item" data-player_id="{{id}}" href="#">{{fname}}</a>
</script>
{% endraw %}
{% endblock %}
