{% extends 'base.html' %}
{% block content %}
<script src="/static/js/dao.js"></script>
<script src="/static/js/edit-tournament.js"></script>
<div class="container">
    <div class="page-header">
        <h1 data-tournament_id={{tournament.tournament_id}}>
            {{tournament.description}}
            <small>Select players</small>
        </h1>
    </div>

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Players to add</h2>
                    </div>
                    <div class="panel-body omitted-players list-group"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Added players</h3>
                    </div>
                    <div class="panel-body added-players list-group"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p>
                    <button type="submit" class="btn btn-lg btn-primary">
                        Begin Tournament
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
{% raw %}
<script id="player-template" type="text/x-handlebars-template">
    <a class="list-group-item" data-player_id="{{player_id}}" href="#">{{fname}}</a>
</script>
{% endraw %}
{% endblock %}
