{% extends 'base.html' %}
{% block body %}
<h1>Tournaments</h1>

{% for tournament in tournaments %}
  <a href="{{url_for('tournament', id = tournament.id)}}">
    <p>{{tournament.description}} started on {{tournament.start_date}}</p>
  </a>
{% endfor %}

<h2>Add new tournament</h2>

<form action="" method="post" name="tournament">
  {{form.hidden_tag()}}
  <p>
    Enter name of new tournament: {{form.description(size=40)}}<br/>
    Tournament type: {{form.tourn_type(size=20)}}<br/>
  </p>
  <p><input type="submit" value="Add"></p>
</form>

{% endblock %}
