<!doctype html>
<html>
<head>
    <title>Pools &amp; Brackets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/views/backbone-view-utils.js"></script>
    <script type="text/javascript" src="/static/js/views/players-view.js"></script>
    <script type="text/javascript" src="/static/js/routers/app-router.js"></script>
    <script type="text/javascript" src="/static/js/models/player.js"></script>
    <script type="text/javascript" src="/static/js/collections/all-players.js"></script>
    <link rel="shortcut icon" href="/static/img/trophy.ico">
</head>
<body>
    <section id="app">

    </section>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pools &amp; Brackets</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#players">Players</a></li>
                    <!--{% if not session.logged_in %}-->
                    <!--<li><a href="{{ url_for('login') }}">Login</a></li>-->
                    <!--{% else %}-->
                    <!--<li><a href="{{ url_for('logout') }}">Logout</a></li>-->
                    <!--{% endif %}-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div id="content" class="content">
            <!-- Content div that is filled by the router -->
        </div>

        <footer>
            <p>&copy; 2014 enw</p>
        </footer>
    </div>

    <!-- Templates -->

    <script id="home" type="text/html">
        <div class="page-header">
            <h1>Lorem ipsum dolor</h1>
        </div>
        <div class="row">
            <div class="span14">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </div>
    </script>

    <script id="players" type="text/html">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Players</h3>
                    </div>
                    <div class="panel-body list-group" id="players-list"></div>
                </div>
            </div>
            <div class="col-md-6" id="new-player">
                <div class="well well-lg">
                    <h3>Add new player</h3>

                    <form action="player" method="post" name="tournament">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname"
                                   placeholder="Enter name" value="">
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="current-players-item">
        <a class="list-group-item player-item" href="#">
            <span class="fname"><%- fname %></span>
            <span class="glyphicon glyphicon-trash pull-right"></span>
        </a>
    </script>


    <script id="not-found" type="text/html">
        <h1>Page Not Found</h1>

        <p>We weren't able to find what you were looking for.</p>

        <p>Perhaps you typed a URL incorrectly, or the data has changed recently.</p>

        <p><a href="#home">Return to main page</a>
    </script>

    <!-- Init Application Router -->

    <script type="text/javascript">
        var router = new ApplicationRouter($('#content'));
        Backbone.history.start();
    </script>

<script src="/static/js/views/app-view.js"></script>
<script src="/static/js/app.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
