<!DOCTYPE html>
<html>
<head>
    <title>Pools &amp; Brackets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/trophy.ico">
</head>
<body>
{% raw %}
  <script type="text/x-handlebars">
      <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">Pools &amp; Brackets</a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="active">{{#link-to "tournaments" activeClass="selected"}}Tournaments{{/link-to}}</li>
                      <li>{{#link-to "players" activeClass="selected"}}Players{{/link-to}}</li>
                  </ul>
              </div>
          </div>
      </div>
      {{outlet}}
  </script>

    <script type="text/x-handlebars" id="tournaments">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tournaments</h3>
                        </div>
                        <div class="panel-body list-group">
                            {{#each itemController="tournament"}}
                                {{#link-to "tournament" this class="list-group-item tourney-item" href="#"}}
                                    <span><strong>{{description}}</strong> <em>{{start_date}}</em></span>
                                    <span class="glyphicon glyphicon-trash pull-right" {{action "removeTournament"}}></span>
                                {{/link-to}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {{outlet}}
                    <div class="well well-lg">
                        <h3>Add new tournament</h3>
                        <div class="form-group">
                            {{input type="text" placeholder="Tournament Description"
                            value=newDescription action="createTournament" class="form-control"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars" id="players">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Current Players</h3>
                        </div>
                        <div class="panel-body list-group">
                            {{#each itemController="player"}}
                                <a class="list-group-item player-item" href="#">
                                    <span class="fname">{{fname}}</span>
                                    <span class="glyphicon glyphicon-trash pull-right" {{action "removePlayer"}}></span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="new-player">
                    <div class="well well-lg">
                        <h3>Add new player</h3>
                        <div class="form-group">
                            {{input type="text" placeholder="Enter name"
                            value=newFname action="createPlayer" class="form-control"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='handle'></div>
    </script>
    <script type="text/x-handlebars" id="tournament">
        <div class="container">
            <div class="page-header">
                <h1>
                    <!--{{tournament.description}}-->
                    <small>Select players</small>
                </h1>
            </div>

            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Players to add</h2>
                            </div>
                            <div class="panel-body omitted-players list-group"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Added players</h3>
                            </div>
                            <div class="panel-body added-players list-group"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p>
                            <button type="submit" class="btn btn-lg btn-primary">
                                Begin Tournament
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        Stuff here!
    </script>

{% endraw %}
  <script src="/static/js/libs/jquery-1.10.2.js"></script>
  <script src="/static/js/libs/handlebars-1.1.2.js"></script>
  <script src="/static/js/libs/ember-1.6.1.js"></script>
  <script src="/static/js/libs/ember-data.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/models/player.js"></script>
  <script src="/static/js/models/tournament.js"></script>
  <script src="/static/js/controllers/players-controller.js"></script>
  <script src="/static/js/controllers/player-controller.js"></script>
  <script src="/static/js/controllers/tournament-controller.js"></script>
  <script src="/static/js/controllers/tournaments-controller.js"></script>
</body>
</html>
