{% extends 'base.html' %}
{% block content %}
<script src="/static/js/dao.js"></script>
<script src="/static/js/player.js"></script>
<div class="container">
  <div id="errorContainer"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title">Current Players</h3>
	</div>
	<div class="panel-body list-group" id="players"></div>
      </div>
    </div>
    <div class="col-md-6" id="new-player">
      <div class="well well-lg">
	<h3>Add new player</h3>
	<form action="player" method="post" name="tournament">
	  <div class="form-group">
	    <input type="text" class="form-control" id="fname" 
		   placeholder="Enter name" value="">
	  </div>
	  <button type="submit" class="btn btn-primary">Add</button>
	</form>
      </div>
    </div>
  </div>
</div>
<div id='handle'></div>
{% raw %}
<script id="player-template" type="text/x-handlebars-template">
  <a class="list-group-item player-item" 
     data-player_id="{{id}}" href="#">
    <span class="fname">{{fname}}</span>
    <span class="glyphicon glyphicon-trash pull-right"></span>
  </a>
</script>
{% endraw %}
{% endblock %}
