{% extends 'base.html' %}
{% block content %}
<script src="/static/js/dao.js"></script>
<script src="/static/js/play-tournament.js"></script>
{% set tournament = model['tournament'] %}

<div class="container">
  <h1>{{tournament.description}}</h1>
  <div class="row">
    <div class="col-md-6" id="matches">
      <h2>Matches</h2>
      {% for match in model['matches'] %}
        {% if not match.entered_time %}
        <div class="well" data-match_id={{match.id}}>
	  <form action="{{tournament.id}}" method="post" name="match" role="form" class="form-horizontal">
	    <input id="player1_id" name="player1_id" type="hidden" value="{{match.player1.id}}">
	    <input id="player2_id" name="player2_id" type="hidden" value="{{match.player2.id}}">
	    <div class="form-group">
	      <label for="score1" class="col-sm-3 control-label">
		{{match.player1.fname}}
	      </label>
	      <div class="col-sm-9">
		<input class="form-control" id="score1" name="score1" placeholder="Enter Score" size="4" type="text" value="">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="score2" class="col-sm-3 control-label">
		{{match.player2.fname}}
	      </label>
	      <div class="col-sm-9">
		<input class="form-control" id="score2" name="score2" placeholder="Enter Score" size="4" type="text" value="">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" class="btn btn-primary">
		Add Match
	      </button>
	      </div>
	    </div>
	  </form>
	</div>
	{% else %}
        <div class="well" data-match_id={{match.id}}>
          <table class="table">
	    <tr><td>{{match.player1.fname}}</td><td>{{match.score1}}</td></tr>
            <tr><td>{{match.player2.fname}}</td><td>{{match.score2}}</td></tr>
          </table>
	  <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	{% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h2>Standings</h2>
      <table class="table table-bordered table-hover">
	<thead>
	  <tr>
	    <th>Team</th><th>W</th><th>L</th><th>T</th><th>%</th>
	    <th>PF</th><th>PA</th><th>+/-</th>
	  </tr>
	</thead>
	<tbody>
	{% for standing_row in model['standings'] %}
	  <tr>
	    <td>{{standing_row.name}}</td>
	    <td>{{standing_row.win}}</td>
	    <td>{{standing_row.loss}}</td>
	    <td>{{standing_row.tie}}</td>
	    <td>{{standing_row.percent_display}}</td> 
	    <td>{{standing_row.pf}}</td>
	    <td>{{standing_row.pa}}</td>
	    <td>{{standing_row.pf - standing_row.pa}}</td> 
	  </tr>
	{% endfor %}
	</tbody>
      </table>
      {% if not model['schedule'] %}
        <a href="{{ url_for('conclude_tournament', id = tournament.id) }}">
	  <button class="btn btn-danger">Complete Tournament</button>
	</a>
      {% endif %}
    </div>
  </div>
</div>
{% raw %}
<script id="complete-match-template" type="text/x-handlebars-template">
  <table class="table">
    <tr><td>{{player1.fname}}</td><td>{{score1}}</td></tr>
    <tr><td>{{player2.fname}}</td><td>{{score2}}</td></tr>
  </table>
  <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
</script>
<script id="match-form-template" type="text/x-handlebars-template">
  <form action="" method="post" name="match" role="form" class="form-horizontal match-form">
    <input id="player1_id" name="player1_id" type="hidden" value="{{player1.id}}">
    <input id="player2_id" name="player2_id" type="hidden" value="{{player2.id}}">
    <div class="form-group">
      <label for="score1" class="col-sm-3 control-label">
	{{player1.fname}}
      </label>
      <div class="col-sm-9">
	<input class="form-control" id="score1" name="score1" placeholder="Enter Score" size="4" type="text" value="">
      </div>
    </div>
    <div class="form-group">
      <label for="score2" class="col-sm-3 control-label">
	{{player2.fname}}
      </label>
      <div class="col-sm-9">
	<input class="form-control" id="score2" name="score2" placeholder="Enter Score" size="4" type="text" value="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
	<button type="submit" class="btn btn-primary">
	  Add Match
	</button>
      </div>
    </div>
  </form>
</script>
{% endraw %}
{% endblock %}
