{% extends 'base.html' %}
{% block content %}
<script src="/static/js/player.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Current Players</h2>
      <ul class="list-group" id="players">
        {% for player in players %}
	  <div class="list-group-item list-unstyled player-item" 
	       data-player_id="{{player.id}}">
	    <li>
	      <span class="fname">{{player.fname}}</span>
	      <a href="#" class="del-link">
		<span class="glyphicon glyphicon-trash pull-right"></span>
	      </a>
	    </li>
	  </div>
	{% endfor %}
      </ul>
    </div>
    <div class="col-md-6" id="new-player">
      <h2>Add new player</h2>
      <form action="player" method="post" name="tournament">
	<div class="form-group">
	  <label for="fname">First Name</label>
	  <input type="text" class="form-control" id="fname" 
		 placeholder="Enter name" value="">
	</div>
      <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>
<div id='handle'></div>
<script id="player-template" type="text/x-handlebars-template">
  {% raw %}
  <div class="list-group-item list-unstyled player-item" 
       data-player_id="{{id}}">
    <li>
      <span class="fname">{{fname}}</span>
      <a href="#" class="del-link">
	<span class="glyphicon glyphicon-trash pull-right"></span>
      </a>
    </li>
  </div>
  {% endraw %}
</script>

{% endblock %}
