{% extends 'base.html' %}
{% block body %}
<h1>Tournament {{tournament.description}}</h1>

{% if tournament.begun %}
list matches
{% else %}
  <form action="tournament/1" method="post" name="entries">
    {{form.enter}}
  </form>

  {% if entries %}
    <h2>Competitors signed up</h2>
    {% for entry in entries %}
      <p>{{entry.fname}}</p>
    {% endfor %}
  {% else %}
    <h2>No Competitors Added</h2>
  {% endif %}
  {% if other_players %}
    <h2>Players to add</h2>
    {% for player in other_players %}
      <p>{{player.fname}}</p>
    {% endfor %}
  {% else %}
    <h2>No other players to add</h2>
  {% endif %}
{% endif %}

{% endblock %}
